.hero {
  background-color: #e1c6ff;
  padding: 20px;
  border-radius: 15px;
  width: 50%; /* Default Desktop View */
}

.text-content {
  max-width: 500px;
}

.text-content h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
  text-align: left;
  margin-left: -45px;
}

.text-content p {
  margin-bottom: 10px;
  padding: 0px 20px;
  text-align: left;
}

.image-container img {
  width: 100%;
  max-width: 300px;
}

.image-container {
  background-color: #fafafa;
  border-radius: 20px;
  text-align: center;
}

.controls {
  margin-top: 10px;
  position: relative;
  top: -60px;
}

.controls .Carosel-btn {
  background-color: #ccff33;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px;
}

.controls .Carosel-btn:hover {
  background-color: #e1c6ff;
}

.controls .order-btn {
  color: #fff;
  border-radius: 25px;
  background-color: #ccff33;
  color: black;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .hero {
    width: 100%; /* Full width on mobile */
  }
  .image-container img {
    max-width: 250px;
  }
  .text-content{
    max-width: none;
  }

  .text-content h2 {
    margin-left: 0px;
  }

  .controls {
    top: 0; /* Adjust to ensure carousel controls are properly aligned */
  }
}
